<ion-view view-title="Contact">
  <ion-content>
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        PO Box 212<br/>
        Little Chute, WI<br/>
        54140
      </a>

      <a href="tel:18024897768" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        +1 802 489 SPOT (7768)
      </a>

      <a href="http://cheetah-software.com" class="item item-icon-left">
        <i class="icon ion-android-globe"></i>
        http://cheetah-software.com
      </a>

      <a href="mailto:contact@cheetah-software.com" class="item item-icon-left">
        <i class="icon ion-email"></i>
        contact@cheetah-software.com
      </a>

    </div>
  </ion-content>
</ion-view>
